<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>Inderpreet_Matharu_Assignment1</display-name>
  <servlet>
    <servlet-name>secure</servlet-name>
    <jsp-file>/WEB-INF/dogHandlers/Test.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>secure</servlet-name>
    <url-pattern>/dogHandlers/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>secure1</servlet-name>
    <jsp-file>/WEB-INF/dogHandlers/selectDays.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>secure1</servlet-name>
    <url-pattern>/dogHandlers/selectDays</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>secure2</servlet-name>
    <jsp-file>/WEB-INF/dogHandlers/classDogForm.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>secure2</servlet-name>
    <url-pattern>/dogHandlers/classDog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>secure3</servlet-name>
    <jsp-file>/WEB-INF/dogHandlers/specDogForm.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>secure3</servlet-name>
    <url-pattern>/dogHandlers/specDog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>secure4</servlet-name>
    <servlet-class>ca.sheridancollege.Servlets.DHandC</servlet-class>
    <security-role-ref>
      <role-name>dogHandler</role-name>
      <role-link>DogHandler</role-link>
    </security-role-ref>
  </servlet>
  <servlet-mapping>
    <servlet-name>secure4</servlet-name>
    <url-pattern>/DHandC</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>secure5</servlet-name>
    <servlet-class>ca.sheridancollege.Servlets.ViewAllHDogs</servlet-class>
    <security-role-ref>
      <role-name>dogHandler</role-name>
      <role-link>DogHandler</role-link>
    </security-role-ref>
  </servlet>
  <servlet-mapping>
    <servlet-name>secure5</servlet-name>
    <url-pattern>/dogHandlers/viewAll</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>secure6</servlet-name>
    <jsp-file>/WEB-INF/dogHandlers/viewall.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>secure6</servlet-name>
    <url-pattern>/dogHandlers/viewAlldh</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>secure7</servlet-name>
    <jsp-file>/WEB-INF/dogHandlers/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>secure7</servlet-name>
    <url-pattern>/dogHandlers/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>secure8</servlet-name>
    <jsp-file>/WEB-INF/dogHandlers/classDogForm.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>secure8</servlet-name>
    <url-pattern>/dogHandlers/cdf</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>secure9</servlet-name>
    <jsp-file>/WEB-INF/dogHandlers/specDogForm.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>secure9</servlet-name>
    <url-pattern>/dogHandlers/sdf</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>secure10</servlet-name>
    <jsp-file>/WEB-INF/dogHandlers/default.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>secure10</servlet-name>
    <url-pattern>/dogHandlers/df</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>secure11</servlet-name>
    <servlet-class>ca.sheridancollege.Servlets.DHandS</servlet-class>
    <security-role-ref>
      <role-name>dogHandler</role-name>
      <role-link>DogHandler</role-link>
    </security-role-ref>
  </servlet>
  <servlet-mapping>
    <servlet-name>secure11</servlet-name>
    <url-pattern>/DHandS</url-pattern>
  </servlet-mapping>
  
  <security-role>
    <role-name>DogHandler</role-name>
  </security-role>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/login.jsp</form-login-page>
      <form-error-page>/loginError.jsp</form-error-page>
    </form-login-config>
  </login-config>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Dog Handlers</web-resource-name>
      <url-pattern>/dogHandlers/*</url-pattern>
      <url-pattern>/DHandC</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>DogHandler</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
</web-app>